Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

Reading data

In [3]:
data=pd.read_csv('04-advertising_dataset.csv')

Exploring the data

In [4]:
data.shape

(200, 4)

In [5]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
data.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [7]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [8]:
data.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [9]:
data.duplicated().sum()

0

Define x and y

In [10]:
X=data.iloc[:,:-1]
y=data.iloc[:, -1]

Splitting the dataset in training set and test set

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,train_size=0.7,random_state=42)

Training the model

In [12]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

Predict the test set results

In [13]:
y_pred=model.predict(X_test)
print(y_pred)

[17.15991908 20.53369503 23.68914396  9.5191455  21.60736836 12.78101318
 21.08636345  8.76054246 17.11499951 16.68789636  8.97584663  8.57645026
 18.33212325  8.17863567 12.64605571 14.94486946  8.34939536 17.83858948
 11.12172174 20.37740648 20.9483297  13.04035779 11.01360656 22.51142595
  9.40369784  7.98591291 20.86943368 13.77882255 10.83407064  8.00419229
 15.88597618 10.7027424  20.9521718  10.84679243 21.50720813 21.07347295
 12.22673775 22.85273767 12.57698182  6.54597206 11.93411853 15.23490068
 10.07411153  9.52159696 17.11786382  7.28032677 10.49404864 15.24356754
 11.20742176 11.78392665 14.01472163 14.59884572 10.82722434  9.55839415
  9.03749681 12.51183313 10.52551021 25.01900824  7.99334943 15.73916263]

Evaluate the model

In [14]:
print('Mean squared error:%.2f'% mean_squared_error(y_test, y_pred))
print('Coefficient of determination:%.2f'% r2_score(y_test,y_pred))

Mean squared error:2.54
Coefficient of determination:0.91

In [16]:
data={
    'TV':[44.5],
    'Radio':[39.3],
    'Newspaper':[45.1],
}
data=pd.DataFrame(data)
val=model.predict(data)
print(val)

[11.52255765]